.body {

}

img {
	width: 60px;
}

button{
	width: 60px;
	height: 60px;
}

.center {
	margin: 0 auto;

}

.buttonGrid {
	display: flex;
	flex-direction: column;
	width: 20%;
	/*width: 240px;*/
}

.row {  
	background-color: red;
	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;

}